[submodule "ale"]
    path = ./pack/git-plugins/start/ale
    url = git@github.com:w0rp/ale.git
[submodule "deoplete.nvim"]
	path = ./pack/git-plugins/start/deoplete.nvim/
    url =  git@github.com:Shougo/deoplete.nvim.git
[submodule "lightline-ale"]
    path = ./pack/git-plugins/start/lightline-ale/
    url = git@github.com:maximbaz/lightline-ale.git
[submodule "lightline.vim"]
	path = ./pack/git-plugins/start/lightline.vim/
    url = git@github.com:itchyny/lightline.vim.git
[submodule "nvim-yarp"]
	path = ./pack/git-plugins/start/nvim-yarp/
    url = git@github.com:roxma/nvim-yarp.git
[submodule "vim-colorschemes"]
	path = ./pack/git-plugins/start/vim-colorschemes/
    url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim-hug-neovim-rpc"]
    path = ./pack/git-plugins/start/vim-hug-neovim-rpc/
    url = git@github.com:roxma/vim-hug-neovim-rpc.git
